@font-face {
  font-family: 'Bender-Black';
  src: url('../fonts/Bender-Black.eot');
  src: url('../fonts/Bender-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bender-Black.woff') format('woff'),
  url('../fonts/Bender-Black.ttf') format('truetype'),
  url('../fonts/Bender-Black.svg#Bender-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}